.home-container{
  display: flex;
  margin-top: 2rem;
  height: 700px;
}
.content-1{
  width:100%;

  background: rgb(255, 255, 255)
}
.content-1 h1{
  margin-left: 10%;
  margin-right: 5%;
  font-family: 'PT Sans', sans-serif;
  font-size: 90px;
  color: rgb(49, 49, 49);
}

.content-1 h2{
  margin-top: 4rem;
  margin-left: 10%;
  margin-right: 5%;
  font-family: 'PT Sans', sans-serif;
  font-size: 70px;
  color: rgb(49, 49, 49);

}
