.admin-nav{
  padding-top: .5rem;
  background: black;
  text-align: left;
  width: 100%;
}
.admin-nav a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}
.admin-nav a:hover{
  background: white;
  color: black;
}
.a-panel{
  margin-top: .5rem;
  padding: 2rem;
  text-align: center;
  background-image: url(https://images2.alphacoders.com/993/thumb-1920-993733.jpg);
}
